:root {
    --primary-tex-color: #2e2f42;
    --title-tex-color: #434455;
    --accent-color: #4d5ae5;
    --color-fone: #ffffff;
    --color-hover: #404bbf;
  }
  body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-tex-color);
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  *{
    box-sizing: border-box;
  }
  
  /* h Приховані заголовки */
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  
  /* Header */
  .header{
    box-sizing: border-box;
    border-bottom: 1px solid var(--accent-color);
    width: 1440px;
height: 72px;
  }
.header .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 2px solid red;

    width: 1440px;
    height: 72px;
 }
    .nav{
      display: flex;
    align-items: center;
    }
  .logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none; 
    position: absolute;
    width: 115px;
    height: 24px;
    left: 156px;
    
  }
  .header-list{
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0;
    position: absolute;
width: 261px;
height: 24px;
left: 347px;


  }
  .logo-item {
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
  }
  .address-list{

    display: flex;
  }
  .mail{
    height: 24px;
    left: 940px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;

  }
  .namber{  
    height: 24px;
    left: 1133px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 40px;
    text-decoration: none;

  }
  .header-item:hover,
  .header-item:focus,
  .address-info:hover,
  .address-info:focus {
    color: var(--color-hover);
  }
  .address-info{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-tex-color);
  }
  /* Section main */
  
  .section-main {
    background-color: #2e2f42;
width: 1440px;
height: 600px;
left: 0px;
top: 72px;
  }
  .main-tex {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--color-fone);
    position: absolute;
width: 594px;
height: 120px;
left: 436px;
top: 160px;
text-align: center;
  }
  .button {
    font-family: inherit;
    color: var(--color-fone);
    background-color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    border-style: none;
    cursor: pointer;
    position: absolute;
width: 169px;
height: 56px;
left: 636px;
top: 428px;

  }
  .button:hover,
  .batton:focus {
    background-color: var(--color-hover);
  }
  /* --------Section-info----------- */
.section-info{
width: 1128px;
left: 156px;
top: 792px;
padding-top: 120px;
    padding-bottom: 120px;
    box-sizing: border-box;
}
  .info-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: inherit;
    width: 264px;
height: 24px;
  }
  .section-strategy{
height: 24px;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
position: absolute;
height: 104px;
left: 156px;
top: 792px;
  }

  .info-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-tex-color);
    width: 264px;
height: 72px;
  }
  
  .section-punctuality{
    position: absolute;
width: 264px;
height: 104px;
left: 444px;
top: 792px;
  }
  .section-diligence{
    position: absolute;
width: 264px;
height: 104px;
left: 732px;
top: 792px;
  }
  .section-technologies{
    position: absolute;
width: 264px;
height: 104px;
left: 1020px;
top: 792px;
  }
  /* --------What are we doing--------- */
  
  .work-text {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: inherit;
    position: absolute;
width: 323px;
height: 40px;
left: 559px;
top: 1016px;
  }
  .work-section{
width: 1128px;
height: 412px;
left: 156px;
top: 1016px;
  }
  .work-item-monitor{
    width: 360px;
height: 300px;
left: 156px;
top: 1128px;
position: absolute;
  }
.work-item-phone{
  position: absolute;
width: 360px;
height: 300px;
left: 540px;
top: 1128px;
}
.work-item-iphone{
  position: absolute;
width: 360px;
height: 300px;
left: 924px;
top: 1128px;
}
  /* -----team-section------ */
  .team-section {
    background-color: #f4f4fd;
width: 1440px;
height: 1132px;
left: 0px;
top: 1548px;

  }
  .team-text {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: inherit;
    position: absolute;
height: 40px;
left: 639px;
top: 1668px;

  }
  .team-name {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em
  }
  .team-specialization {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-tex-color);
  }
  .team-item-mark{
    position: absolute;
width: 264px;
height: 380px;
left: 156px;
top: 1780px;
  }
  .team-item-tom{
    position: absolute;
width: 264px;
height: 380px;
left: 444px;
top: 1780px;
  }
  .team-item-camila{
    position: absolute;
width: 264px;
height: 380px;
left: 732px;
top: 1780px;
  }
  .team-item-daniel{
    position: absolute;
width: 264px;
height: 380px;
left: 1020px;
top: 1780px;
  }
  .team-name{
  
  }
  /* ------footer------ */
  footer{
    height: 100%;

  margin: 0;
  }
  .footer {
    padding: 100px 0;
  width: 1440px;
height: 310px;
left: 0px;
top: 2280px;
background: #2E2F42;
  }
  .content{
width: 264px;
height: 110px;
left: 156px;
top: 2380px;
background-color: #2E2F42;
margin-left: 156px;
  }
  .footer-tex {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #e7e9fc;
  }
  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
  }
  
  /* ----portfolio----- */
  .portfolio-list-button{
    margin-bottom: 72px;
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  .porfolio-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    padding: 12px 24px;
    background: #f4f4fd;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    cursor: pointer;
  }
  .porfolio-button:hover,
  .porfolio-button:focus {
    color: #ffffff;
    background: #404bbf;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  .portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .porfolio-button{
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    padding: 12px 24px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.04em;
  }
  /* ------portfolio-info------ */
 
.portfolio-info-list{

  display: flex;
  padding-bottom: 120px;
  flex-wrap: wrap;
  row-gap: 24px;
  margin-left: 0px;
}
 .portfolio-info-item{
  flex-basis: calc((97% - 48px) / 3);
  background: #ffffff;
  margin-left: 24px;
  
 }
  .portfolio-info-tex {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: inherit;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 16px;
gap: 8px;
  }
  .portfolio-info-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-tex-color);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 16px;
    gap: 8px;
  }